# Ejemplo patito

Al iniciar sesión, se deben de cargar las librerías necesarias.

In [2]:
import pandas as pd
import numpy as np
import os

Para visualizar el directorio de trabajo se ejecuta la siguiente instrucción:

In [3]:
root=os.getcwd()
print(root)

c:\Users\Francisco

Para leer el archivo csv, se usa el siguiente comando:

In [4]:
datos = pd.read_csv("fake_db.csv")

Se puede ver la información del dataframe:

In [5]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 45 columns):
Number                  100000 non-null int64
Gender                  100000 non-null object
NameSet                 100000 non-null object
Title                   100000 non-null object
GivenName               100000 non-null object
MiddleInitial           100000 non-null object
Surname                 100000 non-null object
StreetAddress           100000 non-null object
City                    100000 non-null object
State                   97905 non-null object
StateFull               100000 non-null object
ZipCode                 100000 non-null int64
Country                 100000 non-null object
CountryFull             100000 non-null object
EmailAddress            100000 non-null object
Username                100000 non-null object
Password                100000 non-null object
BrowserUserAgent        100000 non-null object
TelephoneNumber         100000 non-null object
TelephoneCountryCode    100000 non-null int64
MothersMaiden           100000 non-null object
Birthday                100000 non-null object
Age                     100000 non-null int64
TropicalZodiac          100000 non-null object
CCType                  100000 non-null object
CCNumber                100000 non-null int64
CVV2                    100000 non-null int64
CCExpires               100000 non-null object
NationalID              0 non-null float64
UPS                     100000 non-null object
WesternUnionMTCN        100000 non-null int64
MoneyGramMTCN           100000 non-null int64
Color                   100000 non-null object
Occupation              100000 non-null object
Company                 99902 non-null object
Vehicle                 100000 non-null object
Domain                  100000 non-null object
BloodType               100000 non-null object
Pounds                  100000 non-null float64
Kilograms               100000 non-null float64
FeetInches              100000 non-null object
Centimeters             100000 non-null int64
GUID                    100000 non-null object
Latitude                100000 non-null float64
Longitude               100000 non-null float64
dtypes: float64(5), int64(9), object(31)
memory usage: 34.3+ MB

o tambien se pueden ver estadísticas descriptivas con:

In [6]:
datos.describe()

,Number,ZipCode,TelephoneCountryCode,Age,CCNumber,CVV2,NationalID,WesternUnionMTCN,MoneyGramMTCN,Pounds,Kilograms,Centimeters,Latitude,Longitude
count,100000.000000,100000.000000,100000.0,100000.00000,1.000000e+05,100000.000000,0.0,1.000000e+05,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,50000.500000,25994.095130,34.0,49.08559,5.010720e+15,500.502650,NaN,5.008318e+09,4.997022e+07,179.295824,81.498131,169.959770,40.066001,-3.806679
std,28867.657797,13713.588818,0.0,17.61275,3.769173e+14,288.355082,NaN,2.887926e+09,2.892508e+07,35.888941,16.313050,9.562908,2.783062,3.624194
min,1.000000,1000.000000,34.0,19.00000,4.485000e+15,1.000000,NaN,5.562600e+04,2.986000e+03,96.800000,44.000000,150.000000,27.679102,-83.490253
25%,25000.750000,14260.000000,34.0,34.00000,4.556511e+15,252.000000,NaN,2.503532e+09,2.483156e+07,150.700000,68.500000,163.000000,38.308081,-5.795822
50%,50000.500000,27325.000000,34.0,49.00000,5.102525e+15,501.000000,NaN,5.013853e+09,4.991556e+07,179.500000,81.600000,170.000000,40.615779,-3.589648
75%,75000.250000,37420.000000,34.0,64.00000,5.352728e+15,750.000000,NaN,7.499894e+09,7.504225e+07,208.600000,94.800000,177.000000,42.187375,-1.802417
max,100000.000000,52000.000000,34.0,79.00000,5.599993e+15,999.000000,NaN,9.999543e+09,9.999905e+07,257.400000,117.000000,190.000000,43.860774,12.663126

Para visualizar los 5 primeros registros:

In [7]:
datos.head(n=5)

,Number,Gender,NameSet,Title,GivenName,MiddleInitial,Surname,StreetAddress,City,State,...,Vehicle,Domain,BloodType,Pounds,Kilograms,FeetInches,Centimeters,GUID,Latitude,Longitude
0,1,male,Hispanic,Mr.,Ezio,S,Vanegas,Ventanilla de Beas 48,Alfoz,LU,...,2002 Vauxhall Agila,ParadeBlog.es,B+,150.0,68.2,"5' 5""",165,256e636c-da1f-43e4-826c-1e63def9b541,43.423958,-7.303852
1,2,female,Hispanic,Ms.,Katharina,J,Reséndez,C/ Rosa de los Vientos 29,Alcalá de los Gazules,CA,...,2008 Ford F-450,EyeTint.es,B-,159.9,72.7,"5' 5""",165,6569389e-63f3-4009-a138-647a449b47a3,36.322712,-6.161728
2,3,female,Hispanic,Dr.,Tamara,K,Monroy,Plazuela do Porto 75,El Sauzal,TF,...,2005 Honda Fit,StyleValuation.es,B+,159.3,72.4,"5' 3""",161,b2269aa2-6178-4b29-9347-0c04ff7c6249,28.414627,-16.373429
3,4,male,Hispanic,Mr.,Dunstano,E,Armendáriz,Plaza de España 57,Tordoia,C,...,2005 Volkswagen Polo,InstantUnion.es,A-,197.3,89.7,"5' 11""",180,bff5a050-70d8-4c06-8a75-560b018e07f6,43.343168,-8.300582
4,5,male,Hispanic,Mr.,Baldo,K,Ayala,C/ Domingo Beltrán 15,San Pedro,AB,...,1999 Renault Grand Espace,StomachBlog.es,O+,197.8,89.9,"6' 1""",185,d61e4e78-e549-415d-ae98-2665950715af,38.745486,-2.204011

# Creando objetos

In [ ]:
x = [1,2,3,4,5]

In [ ]:
type(x)

In [ ]:
y=[2,4,6,8,10]
z = x + y
print(z)
type(z)

In [ ]:
x = 5
y = 2.15
a = "hola"

Para conocer sus tipos se usa `type()`

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
type(a)

Creando una lista

In [1]:
mi_lista = ["manzana","naranja","pera","uva"]
print(mi_lista)

['manzana', 'naranja', 'pera', 'uva']

Accediendo a sus elementos

Primer elemento

In [3]:
mi_lista[1]

'naranja'

rango

In [4]:
mi_lista[0:2]

['manzana', 'naranja']

ultimos 2

In [5]:
mi_lista[2:]

['pera', 'uva']

# Métodos

Las cadenas tambien tiene propiedades y métodos

In [10]:
a = "hola mundo!"
a[0]

'h'

Convertir a mayúsculas

In [11]:
a.upper()

'HOLA MUNDO!'